<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Detalles del Producto</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/stylecuadricula.css">
</head>
</head>
<body class="not-logged-in">
  <a class="botonnn" onclick="location.href='/'">Volver</a>
  <div class="product-details">
    <div class="product">
      <h2><%= products[0].product_name %></h2>
      <p>Precio: <%= products[0].price %></p>
      <p>Descripción: <%= products[0].description %></p>
      <p>Categoría: <%= products[0].category_name %></p>
      <p>Color: <%= products[0].color %></p>
      <p>Tipo: <%= products[0].guy %></p>
      <% if (products[0].image_url) { %>
        <img alt="Product image" src="<%= products[0].image_url %>" width="200" height="150">
      <% } else { %>
        No hay imagen disponible
      <% } %>
      <form>
        <!-- Campos ocultos para pasar detalles del producto al formulario de compra -->
        <input type="hidden" id="product_id_hidden" value="<%= products[0].product_id %>">
        <input type="hidden" id="product_name_hidden" value="<%= products[0].product_name %>">
        <input type="hidden" id="product_price_hidden" value="<%= products[0].price %>">
      
        <div class="navbar">
          <ul>
            <% if (loggedIn) { %>
              <a class="boton-carrito" onclick="agregarAlCarrito()">Comprar</a>
            <% } else { %>
              <a class="boton-carrito" onclick="agregarAlCarritoo()">Comprar</a>
            <% } %>
          </ul>
        </div>
      </form>
    </div>
  </div>
  <script>
 function agregarAlCarrito() {
  // Recuperar detalles del producto
  var productId = document.getElementById('product_id_hidden').value;
  var productName = document.getElementById('product_name_hidden').value;
  var productPrice = document.getElementById('product_price_hidden').value;

  // Redirige al formulario de compra y pasa los detalles del producto
  window.location.href = '/formulario?product_id=' + productId + '&product_name=' + productName + '&product_price=' + productPrice;
}

function agregarAlCarritoo() {
  alert("Por favor regístrese para comprar");
  window.location.href = '/registerclient';
}
  </script>
</body>
</html>