<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Detalles del Producto</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/stylecuadricula.css">
  <meta property="og:title" content="Listado de Productos">
<meta property="og:description" content="Explora nuestra selección y elige la cámara que mejor se adapte a tus necesidades. ¡La seguridad de tus seres queridos y tus propiedades es nuestra prioridad!">
<meta property="og:image" content="https://scontent.fccs3-2.fna.fbcdn.net/v/t39.30808-6/424972193_1536870577156329_1611919734222123510_n.jpg?stp=dst-jpg_s640x640&_nc_cat=102&ccb=1-7&_nc_sid=dd5e9f&_nc_ohc=YekurxFGvcEAX-GIb6b&_nc_ht=scontent.fccs3-2.fna&oh=00_AfABulwEYsMj4tCSzcdNf1QXikkR1Ws7VfqjFYuYJJlkJg&oe=65C206F4">
<meta property="og:url" content="https://camarasdesegurida.onrender.com">
<meta property="og:type" content="website">
</head>
<body class="not-logged-in">
  <a class="botonnn" onclick="location.href='/'">Volver</a>
  <div class="product-details">
    <div class="product">
      <h2><%= products[0].product_name %></h2>
      <p>Precio: <%= products[0].price %></p>
      <p>Descripción: <%= products[0].description %></p>
      <p>Categoría: <%= products[0].category_name %></p>
      <p>Color: <%= products[0].color %></p>
      <p>Tipo: <%= products[0].guy %></p>
      <% if (products[0].image_url) { %>
        <img alt="Product image" src="<%= products[0].image_url %>" width="200" height="150">
      <% } else { %>
        No hay imagen disponible
      <% } %>
      <form>
        <!-- Campos ocultos para pasar detalles del producto al formulario de compra -->
        <input type="hidden" id="product_id_hidden" value="<%= products[0].product_id %>">
        <input type="hidden" id="product_name_hidden" value="<%= products[0].product_name %>">
        <input type="hidden" id="product_price_hidden" value="<%= products[0].price %>">
      
        <div class="navbar">
          <ul>
            <% if (loggedIn) { %>
              <a class="boton-carrito" onclick="agregarAlCarrito()">Comprar</a>
            <% } else { %>
              <a class="boton-carrito" onclick="agregarAlCarritoo()">Comprar</a>
            <% } %>
          </ul>
        </div>
      </form>
    </div>
  </div>
  <script>
 function agregarAlCarrito() {
  // Recuperar detalles del producto
  var productId = document.getElementById('product_id_hidden').value;
  var productName = document.getElementById('product_name_hidden').value;
  var productPrice = document.getElementById('product_price_hidden').value;

  // Redirige al formulario de compra y pasa los detalles del producto
  window.location.href = '/formulario?product_id=' + productId + '&product_name=' + productName + '&product_price=' + productPrice;
}

function agregarAlCarritoo() {
  alert("Por favor regístrese para comprar");
  window.location.href = '/registerclient';
}
  </script>
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "ItemList",
    "itemListElement": [
      <% products.forEach((product, index) => { %>
        {
          "@type": "Product",
          "@id": "https://camarasdesegurida.onrender.com/detalles/<%= product.product_id %>",
          "position": <%= index + 1 %>,
          "name": "<%= product.product_name ? product.product_name : product.name %>",
          "sku": "<%= product.code %>",
          "description": "<%= product.description %>",
          "image": "<%= product.image_url %>",
          "url": "https://camarasdesegurida.onrender.com/detalles",
          "offers": {
            "@type": "Offer",
            "price": "<%= product.price %>",
            "priceCurrency": "USD",  // Cambia a tu moneda preferida si es diferente
            "availability": "https://schema.org/<%= product.availability %>"
          }
        }<%= index < products.length - 1 ? ',' : '' %>
      <% }); %>
    ]
  }
</script>

  <!-- Agrega el código de Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-PBY2GR9G3R"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-PBY2GR9G3R');
  </script>
</body>
</html>