<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Interfaz Administrativa</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
  <div class="col-md-3 text-end">
    <a class="my-button" onclick="location.href='/'">Volver a la interfaz pública</a>
  </div>
  <h1 class="my-title">Listado de Productos</h1>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Código</th>
        <th>Precio</th>
        <th>Descripción</th>
        <th>color</th>
        <th>tipo</th>
        <th>Categoría</th>
        <th>Opciones</th>
      </tr>
    </thead>
    <tbody>
      <% products.forEach(product => { %>
      <tr>
        <td><%= product.id %></td>
        <td><%= product.name %></td>
        <td><%= product.code %></td>
        <td><%= product.price %></td>
        <td><%= product.description %></td>
        <td><%= product.color %></td>
        <td><%= product.guy %></td>
        <td>
          <% categories.forEach(category => { %>
            <% if (product.category_id === category.id) { %>
              <%= category.name %>
            <% } %>
          <% }); %>
        </td>
        
          <td>
            <a href="/edit/<%= product.id %>" class="my-buttonn">Editar</a>
            <a href="/delete/<%= product.id %>" class="my-buttonn">Eliminar</a>
          </td>
      </tr>
      <% }); %>
    </tbody>
  </table>
  <a class="button" href="/insert">Insertar producto</a>
  <a class="button" href="/img">Insertar imagen</a>

  <h1>Listado de Categorías</h1>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Opciones</th>
      </tr>
    </thead>
    <tbody>
      <% categories.forEach(categorie => { %>
        <tr>
          <td><%= categorie.id %></td>
          <td><%= categorie.name %></td>
          <td><a href="/editcategories/<%= categorie.id %>"class="my-buttonn">Editar</a>
          <a href="/deletes/<%= categorie.id %>"class="my-buttonn">Eliminar</a></td>
        </tr>
        <% }); %>
    </tbody>
  </table>
  <a class="button" href="/insertcategories">Insertar categoria</a>
  <main class="container">
    <div class="bg-body-tertiary p-5 rounded">
      <h1 class="lead">Visualizar la tabla correspondiente a las imágenes</h1>
  <a class="btn btn-lg btn-primary" href="/tabimagen" role="button">Ver Tabla de imagenes &raquo;</a>
</div>
</main>
<main class="container">
  <div class="bg-body-tertiary p-5 rounded">
    <h1 class="lead">Visualizar Compras</h1>
<a class="btn btn-lg btn-primary" href="/compras" role="button">Ver compras&raquo;</a>
</div>
</main>
</body>
</html>
